.button {
  background-color: #333;
  border: none;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN";
  line-height: 1.5;
  font-size: 20px;
  display: block;
  font-weight: bold;
  width: 100%;
  letter-spacing: 0.025em;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
